    <h3>Votre annonce</h3>

    <form id="myForm" method="POST">
        <label for="adverTitle">Advert title</label>
        <input type="text" name="advertTitle" id="advertTitle" placeholder="Advert Title">
    </form>