{% extends "OCPlatformBundle::layout.html.twig" %}

{% block title %}
    Accueil - {{ parent() }}
{% endblock %}

{% block ocplatform_body %}
        <h2>Liste des annonces</h2>

        {{ include("OCPlatformBundle:Advert:list.html.twig") }}

{% endblock %}